body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 245, 241);
}
h1,
h2,
h3,
h4 {
  color: rgba(6, 205, 255, 0.918);
  text-align: start;
}

ul,
ol,
li {
  color: rgb(5, 11, 14);
  text-align: start;
}

img {
  height: 400px;
  width: auto;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  color: rgb(235, 173, 235);
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}
